.chatWindow {
  background-color: #212121;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar span {
  margin: 1rem 2rem;
  font-size: large;
  font: bold;
}

.userIconDiv {
  margin: 1rem 2rem;
}

.userIcon {
  background-color: #536cfd6a;
  height: 30px;
  width: 30px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.userIcon:hover {
  transform: scale(1.2);
}

/* chat input */

.chatInput {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputBox {
  width: 100%;
  position: relative;
  max-width: 770px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input {
  width: 100%;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 25px;
  border-radius: 15px;
  font-size: 1rem;
  box-shadow:
    rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05),
    rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05);
}

input:focus {
  outline: none;
}

#submit {
  cursor: pointer;
  height: 35px;
  width: 35px;
  font-size: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 15px;
  justify-content: center;
}

#submit i {
  transition: transform 0.3s ease;
}

#submit i:hover {
  /* color: #fff; */
  color: rgb(218, 247, 218);
  transform: scale(1.3);
}

.info {
  font-size: 1rem;
  padding: 0.5rem;
  color: #b4b4b4;
}

/* dropDown */

.dropDown {
  position: absolute;
  top: 5rem;
  right: 4rem;
  width: 200px;

  background-color: #323232;
  padding: 0.3rem 0.6rem;
  border-radius: 15px;
  text-align: left;
  z-index: 1000;
  box-shadow: 0px 2px 8px rgba(0, 0, blue0, 0.2);
}

.dropDownItems {
  font-size: 1.2rem;
  margin: 0.3rem 0rem;
  padding: 0.5rem 0.2rem;
}

.dropDownItems i {
  margin-right: 0.7rem;
}

.dropDownItems:hover {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 6px;
  cursor: pointer;
}
