.chats {
  width: 100%;
  max-width: 770px;
  padding: 4rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.userDiv {
  display: flex;
  justify-content: flex-end;
  font-size: 1.2rem;
  

}
.gptDiv {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

.userMessage {
  background-color: #323232;
  padding: 10px 20px;
  border-radius: 14px;
  margin-left: 15rem;
  max-width: 500px;
  width: fit-content;
}

.hljs {
  border-radius: 14px !important;
}

pre {
  white-space: pre-wrap;
}
