.sidebar {
  background-color: #171717;
  color: #b4b4b4;
  height: 100vh;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin: 10px;
  border-radius: 12px;
  background-color: transparent;
  cursor: pointer;

  border: solid rgba(255, 255, 255, 0.5);
}

button:hover {
  background-color: rgba(180, 180, 180, 0.05);
}

.logo {
  height: 25px;
  width: 25px;
  background-color: #ffff;
  border-radius: 50%;
  object-fit: cover;
}

button span {
  font-size: 20px;
}

.history {
  margin: 22px 10px;
  padding: 10px;
  height: 100%;
  overflow-y: scroll;
  scrollbar-width: none;

}

.history li {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 5px;
  margin-bottom: 0.3 rem;
  font-size: 18px;
  border: solid 10px transparent;
  position: relative;
}

.history li:hover {
  /* border: solid rgba(255, 255, 255, 0.5); */
  border-radius: 10px;
  background-color: rgba(180, 180, 180, 0.05);
}


.sign {
    padding: 10px;
    margin: 10px;
    font-size: 19px;
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
    text-align: center;
}

.fa-trash {
  opacity: 0;
  position: absolute;
  right: 0;
}

.history li:hover .fa-trash {
  opacity: 1;
  color: #fff;
}

.fa-trash:hover {
  color: rgb(234, 73, 73) !important;
}

.highlighted {
  background-color: rgba(180, 180, 180, 0.1);
  border-radius: 10px;
}